#lineManage{
  .map{
    position: relative;
    #allmap{
      width: 100%;
      height: 500px;
    }
    .alldot{
      color: $grey3;
      border: 1px solid $grey1;
      background-color: $contain;
      //opacity: 0.5;
      position: absolute;
      top:0;
      right: 0px;
      z-index: 2;
      //padding: 10px 30px;
      height: 190px;
      width: 150px;
      .dot{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        border-bottom: 1px solid $border_color;
        background-color: white;
        &:hover{
          background-color: $contain;
          cursor: pointer;
        }
      }
    }
  }

}