@charset "utf-8";
.main{
  .contents{
    .academicframwork{
      .leftwrap{
        .am-list{
          li{
            &:hover{
              transition-duration: 0.3s;
              background-color: $grey1;
              a{
                transition-duration: 0.3s;
                color: $grey6;
              }
            }
            padding:0px 10px;
          }
          a{
            color: $grey4;
            text-decoration: none;
          }
          .datatime{
            color: $grey3;
          }
        }
      }
      .rightwrap{
        .am-titlebar-multi{
          background: $red;
          margin-top: 0px;
          //background-image:url("../images/hot.gif") no-repeat -44px -55px;;
          img{
            position: absolute;
            top: 18px;
            left: 102px;
          }
          .am-titlebar-title{
            color: white;
          }
          .am-titlebar-nav{
            a{
              color: white;
            }

          }
          border: none;
        }
        .am-list{
          margin-top: 0px;
          a{
            text-decoration: none;
          }
          .hot {
            padding: 1px 5px;
            background: $red;
            color: white;
            font-size: 11px;
          }
          .default{
            padding: 1px 5px;
            background: $grey2;
            color: white;
            font-size: 11px;
          }
        }
      }
    }
  }
}