//Index
$green:#2ecc71;
$deep_green:#2ECC71;
$green_11:#bace84;
$green_l2:#e4f0ca;
$blue:#3498DB;
$deep_blue:#2890B9;
$blue_l1:#afd4dc;
$blue_l2:#d6eef2;
$red:#e74c3c;
$deep_red:#c0392b;
$pink_l1:#f0c7aa;
$pink_l2:#fae6d9;
$grey1:#ecf0f1;
$grey2:#bdc3c7;
$grey3:#95a5a6;
$grey4:#7f8c8d;
$grey5:#34495e;     //适合a的基本颜色
$grey6:#2c3e50;
$bgcolor:rgb(240,240,240);
$contain:rgb(249,249,249);
$border_color:rgb(219,219,219);
$header:#f8f8f8;

//Login
$bg-height:310px;
$login-width:400px;
$login-height:450px;
//footer
$footer-background-color:#515151;

//bighead
$primaryColor:#36AF6D;
.cl{}